
@{
    ViewBag.Title = "About";
}

<h2>Something about Mpho</h2>
<h5>About me blah-blah-blah....swamp</h5>

<div class="row">
    <div class="col-md-4">
        <h2>Bio</h2>
        <p>
            I am highly focused, polite  person with positive attitude,
            and I adapt fast in a new environment and 
            complete tasks given within a given period. 
            I always give my tasks my best effort no matter what. 
            I love system design, I also love cooking 
            and baking and going through political journals or news.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Mpho</h2>

        <img src="~/Media/ME.jpg" height="500" width="500"/>

    </div>
</div>
